.main-card {
  position: relative;
  margin-top: 100px;
}

.lang-button {
  color: royalblue;
}

.text-block {
  font-size: 17px;
}

.bottom-buttons {
  position: absolute;
  bottom: 0;
}

.info-card {
  height: 100%;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.icon {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 3px;
}

.print-result {
  text-align: center;
  color: royalblue;
  padding-top: 10px;
  padding-bottom: 10px;
}
